/* vou criar umas variavei para gente poder padronizar o projeto */
:root 
{
    --cor0: rgb(255, 255, 255);
    --cor1: rgb(0, 0, 0);
    --cor2: rgb(247, 30, 30);
    --cor3: rgb(255, 63, 181);
    --cor4: rgb(75, 40, 212);
    --cor5: rgb(255, 255, 255);
    --cor6: rgb(255, 255, 255);
    --cor7: rgb(255, 255, 255);
    --cor8: rgb(255, 255, 255);
    
    --bg-color: rgb(247, 247, 247);
    --bd-color-primary: rgb(201, 201, 201);
    --con-width: 99.5vw;
}

body
{
    background-color: var(--bg-color);
}

body p
{
    color: var(--cor2);
}

/* O * serve para selecionar todos os elementos do html */

* 
{
    /* Padding e o espçamento interno dos objetos como coloquei 0 eu removi */
    padding: 0;
    /* Margin é a margin externa dos objetos */
    margin: 0;
    /* Box-sizing é o tamanho da tela, como coloquei border-box o navegador vai ajustar o tamanho da tela do programa ao tamanho da tela do usuario */
    box-sizing: border-box;

    /* geralmente os navegadores vem com essas configuraçoes alteradas de padra, ai como de costume a gente remove */
}

/* 
    no css temos algumas formas de selecionar o conteudo do html 
    se for uma tag a gente escreve direto exemplo oque fiz acima 

    agora se for uma classe, a gente usa o . como fiz abaixo 
 */

.content
{
    margin: 6vh 0;

}

.container 
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.galery-photo
{
    display: inline;
    text-align: center;
    justify-content: space-between;
    background-color: aliceblue;
    transition: all ease-in 0.3s;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 1px solid var(--bd-color-primary);
    border-radius: 8px;
    padding: 15px;
}

.galery-photo a img
{
    
    border-radius: 5px;
    max-width: 90%;
}

.galery-photo:hover
{
    transform: scale(1.07);
}
/* .galery-photo a img:hover
{   
    max-width: calc(100vw/4.3);
} */
.navbar-top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 5vh;
    background-color: var(--cor4);
    
}

.navbar-top ul li 
{
    display: inline-flex;
    list-style: none;
}

.navbar-top ul li a
{
    text-decoration: none;
    color: var(--cor0);
    font-size: 1.1em;
    margin: auto 5px;
    transition: all ease-in 0.3s;
}

.navbar-top ul li a:hover
{
    font-size: 1.4em; 
    letter-spacing: 2px;
    color: red;
}
/* 
agora se for um id  a gente usa a # exemplo abaixo !!! 
*/

.brand-name
{
    color:var(--cor0);
    letter-spacing: 4px;
    font-weight: 600;
    
}

.brand-name ul li a
{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.basic-animal .rating-animal
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.basic-animal .rating-animal p
{
    transform: translateX(-60px);
}
