@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --card-w: 60vh;
    --card-h: 60vh;

    --f-color: white;
    
    --bd-c: white;  /* border color */
    --br: 8px;  /* border radius */
}


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;

}

.border
{
    border-radius: var(--br) var(--br);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form, main
{
    display: flex;
}

main
{

    margin-top: 10vw;
    justify-content: center;
}

.check-box
{
    margin: 10px auto;
}

.login-desc
{
    background-image: url('/assets/Default_a_galaxy_full_of_star_in_all_stars_1.jpg');
    background-size: 300%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    overflow: hidden;
    width: var(--card-w);
    height: var(--card-h);

    color: var(--f-color);
}

.desc
{
    justify-content: center;
    display: flex;
    padding: 15px;
}

.desc-img img
{
    border:1px solid var(--bd-c);
    box-shadow: rgb(68, 103, 139) 0px 20px 30px -10px;
    border-radius: 80%;
    position: relative;
    bottom: -25px;
    width: 37%;
    left: 31%;

}

.login-desc .movivation
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 85%;
}

.login-desc .movivation p
{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 12%;
    transform: translateX(10%);
    border: 1px solid rgba(196, 40, 170, 0.349);
    background-image: linear-gradient(to left, rgba(128, 0, 128, 0.425), rgba(0, 0, 255, 0.384));
    border-radius: var(--br);
    padding: 10px;
}

.login-area
{
    width: var(--card-w);
    height: var(--card-h);
    background-color: rgb(46, 46, 145);
}
