@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root
{
    --card-w: 60vh;
    --card-h: 60vh;

    --f-color: white;
    
    --bd-c: white;  /* border color */
    --br: 8px;  /* border radius */

    /* Border neonFX */
    --b-neon: rgba(206, 101, 248, 0.185);

    /* background color Area Login and Login box  */
    --bc-l: rgba(39, 10, 94, 0.849);
    --bc-al: rgb(155, 158, 235);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;

}

.border
{
    border-radius: var(--br) var(--br);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
span
{
    color: red;
}

form, main
{
    display: flex;
}

main
{

    margin-top: 10vw;
    justify-content: center;
}

.check-box
{
    margin: 10px auto;
}

.login-desc
{
    background-image: url('/assets/Default_a_galaxy_full_of_star_in_all_stars_1.jpg');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position-y: 50%;
    overflow: hidden;
    width: var(--card-w);
    height: var(--card-h);

    color: var(--f-color);
}

.desc
{
    justify-content: center;
    display: flex;
    padding: 15px;
}

.desc-img img
{
    border:1px solid var(--bd-c);
    box-shadow: rgb(68, 103, 139) 0px 20px 30px -10px;
    border-radius: 80%;
    position: relative;
    bottom: -25px;
    width: 37%;
    left: 31%;

}

.login-desc .movivation
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 85%;
}

.login-desc .movivation p
{
    background-image: linear-gradient(to left, rgba(128, 0, 128, 0.425), rgba(0, 0, 255, 0.384));
    border: 1px solid rgba(196, 40, 170, 0.349);
    color: rgb(255, 255, 255);
    transform: translateX(10%);
    border-radius: var(--br);
    text-align: center;
    font-size: 18px;
    margin-top: 12%;
    padding: 10px;
}

/* LOGIN AREA  */

.login-area
{
    /* background-color: var(--bc-al); */
    background-image: url('/assets/Default_clounds_realistic_0.jpg');
    background-position-y: 60%;
    height: var(--card-h);
    color: var(--f-color);
    width: var(--card-w);
    font-weight: 600;
}

.user-area
{
    width: 100%;
    
}

.user-area  input
{
    box-shadow: 0 0 10px var(--b-neon), 0 0 20px var(--b-neon), 0 0 30px var(--b-neon), 0 0 40px var(--b-neon);
    border-bottom: 3px solid rgb(255, 255, 255);
    background-color: none;
    border-radius: 8px;
    text-align: center;
    border: none;
    width: 100%;
    height: 30px;
}

.user-area  input:focus
{
    outline: none;
    border-bottom: 5px solid rgb(234, 20, 205);
}

.user-area  input:hover
{
    font-size: 98%;
}
.user-area  p
{
    transform: translateX(12px);
    margin-bottom: 10px;
}

.user-area .password input
{
    margin-bottom: 20px;
}

.login
{
    margin-bottom: 20px;
}

.info-login
{
    background-color: var(--bc-l);
    box-shadow: -44px 58px 22px -10px rgba(0,0,0,0.19);
    transform: translate(22%, 50%);
    flex-direction: column;
    justify-items: center;
    border-radius: 10px;
    align-items: center;
    display: flex;
    padding: 15px;
    height: 100%;
    width: 100%;
}

.btn
{
    transition: all ease-in 0.3s;
    letter-spacing: 1.1px;
    font-style: oblique;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-top: 4px;
    padding: 6px;
    border: none;
}

.btn:hover
{
    color: rgb(255, 255, 255);
    background-color: blue;
}

.info-title
{
    text-shadow: -6px 12px 8px rgba(0, 0, 0, 1);
    color: rgb(99, 185, 255);
    text-decoration: overline;
    letter-spacing: 4px;
    border-radius: 5px;
    position: relative;
    font-weight: 900;
    top: -10%;
}